<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>Servelet1</servlet-name>
  	<display-name>Servelet1</display-name>
  	<description> A simple servelet description</description>
  	<servlet-class>com.javabrains.Servelet1</servlet-class>
  	<init-param>
  		<param-name>DefaultUser</param-name>
  		<param-value> Sandhya from xml init param</param-value>
  	</init-param>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Servelet1</servlet-name>
  	<url-pattern>/Servelet-path1</url-pattern>
  </servlet-mapping>
</web-app>
